a {
  text-decoration: none;
  color: red;
}
.navbar {
  background-color: pink;
  display: flex;
  justify-content: space-evenly;
}
li {
  list-style-type: none;
  display: inline;
  background-color: white;
}
.outer {
  height: 400px;
  width: 400px;
  background-color: cornflowerblue;
  display: flex; 
  align-items: center;
  justify-content: center;
}
.inner {
  height: 100px;
  width: 100px;
  background-color: darkorchid;
}
