/* * {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
/* logo image in nav */
.nav-img-logo {
  display: inline-block;
  height: 32px;
}
/* change nav button on hover */
.btn-outline-dark:hover {
  background-color: rgb(241, 241, 241);
  color: black;
}
/* define underline */
.underline::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  bottom: -3px;
  left: 15px;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
}
/* underline in hover */
.underline:hover::after {
  visibility: visible;
  transform: scaleX(1);
}
/*  */
.space-container{
  content: "";
  position: relative;
  width: 80%;
  height: 4rem;
  top: 1px;
  background-color: black;
  visibility: hidden;
}

/* color of description */
.des-color{
background-image: linear-gradient(90deg, #e8e7f2, #e5e9f5, #e2ebf7, #deedf8, #dbeff8, #daf0f7, #daf2f5, #daf3f3, #dcf4f1, #dff5ef, #e2f5ee, #e5f6ec);

} 